.example-form {
  width: 100%;
  max-width: 600px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
}

.example-half-width {
  width: calc(50% - 16px);
  margin-right: 16px;
}

.example-full-width {
  width: 100%;
}

.hint-error {
  color: #f44336;
}
