.table-wrapper {
  width: 90%;
  max-width: 1000px;
  min-width: 450px;
  margin: 0 auto;
  padding: 20px;
}

.filter-button-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}